cycler==0.10.0
decorator==4.4.1
dlib==19.19.0
entrypoints==0.3
flake8==3.7.9
h5py==2.10.0
imageio==2.6.1
imutils==0.5.3
joblib==0.14.1
JSON-minify==0.3.0
kiwisolver==1.1.0
matplotlib==3.1.2
mccabe==0.6.1
networkx==2.4
numpy==1.17.4
Pillow==6.2.1
progressbar==2.5
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.5
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.16.2
scikit-learn==0.22
scipy==1.4.1
six==1.13.0
